.cover {
    max-height: 200px;
    margin: 0 auto;
    display: block;
}

ion-toolbar{
    --background: #399F8B;
    
}

ion-col {
    background-color: #399F8B;
       
    color: #fff;
    text-align: center;
  }
