<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="end" (click)="closeModal()">
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{author.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <h2 >Libros de {{author.name}}</h2>
  </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let books of books">
      
      <ion-label>{{books.name}}</ion-label>
      
    </ion-item>
    
  </ion-list>
</ion-content>
