<ion-header class="ion-sin-bordes">
  <ion-list lines="nada">
    <ion-item color="primary">
      <ion-icon slot="start" name="colocar-dos"></ion-icon>
    </ion-item>
    <ion-item color= "primary">
      <ion-label>Itz Pentagrama</ion-label>
      <ion-avatar slot="end">
      <img src="assets/img/pentagrama.PNG"/>
      </ion-avatar>
    </ion-item>
  </ion-list>
  <div class="papuver">
    <ion-searchbar></ion-searchbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
       <b><ion-card-title>Los mejores instrumentos</ion-card-title></b> 

      </ion-card-header>

      <ion-slides pager="true">
        <ion-slide class="slide1">
          <img src="assets/img/Guitarra.PNG">
        </ion-slide>
        <ion-slide class="slide2">
          <img src="assets/img/drum.PNG">
        </ion-slide>
        <ion-slide class="slide3">
          <img src="assets/img/piano.PNG">
        </ion-slide>
      </ion-slides>
    </ion-card>
  </div>
  
</ion-content>